.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    transition: margin-left var(--layout-section-transition-duration);
    width: 100%;
    padding: 0;  /* S'assurer qu'il n'y a pas de padding */
}

.layout-main {
    flex: 1 1 auto;
    width: 100%;
    padding: 0;  /* S'assurer qu'il n'y a pas de padding */
}