h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.5rem 0 1rem 0;
    font-family: 'Montserrat', inherit;
    font-weight: 700;
    line-height: 1.3;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1.5px;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 2px;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.8px;
}

h3 {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 1.5px;
}

h4 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.2px;
}

h5 {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 1px;
}

h6 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.8px;
}

p {
    margin: 0 0 1rem 0;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    
    &:last-child {
        margin-bottom: 0;
    }
}

blockquote {
    margin: 1rem 0;
    padding: 0 2rem;
    border-left: 4px solid #a1cc3b;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

mark {
    background: #fff8e1;
    padding: 0.25rem 0.4rem;
    border-radius: var(--content-border-radius);
    font-family: monospace;
}

hr {
    border-top: solid var(--surface-border);
    border-width: 1px 0 0 0;
    margin: 1rem 0;
}